.weather-widget {
  border: none;
  border-radius: 12px;
  box-shadow: inset 0 0 0 3px rgb(228, 223, 223), 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  margin: auto;
  max-width: 800px;
  padding: 24px;

  .weather-widget-weather-conditions {
    > div {
      display: inline-block;
      width: 50%;
    }

    .weather-widget-conditions {
      @media (max-width: 768px) {
        text-align: right;

        p {
          font-size: 1em;
        }
      }
    }
  }

  .weather-widget-current-weather {
    display: flex;
    justify-items: center;
    margin-top: 24px;

    .weather-widget-icon {
      margin-right: 8px;
    }
  }

  .weather-widget-daily-weather {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    overflow: auto;

    @media (max-width: 768px) {
      justify-content: flex-start;

      .daily-weather-container {
        margin-right: 8px;
      }
    }
  }
}
